########################################################################################################################
__history
__recovery
~dcu
*.rsm
.local
.dproj.local
.identcache
########################################################################################################################